body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  flex-direction: column;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
}

canvas {
  position: absolute;
}

section {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  z-index: 6;
}

nav {
  height: 110px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50px;
  left: 50px;
  font-family: 'Fjalla One', sans-serif;
  font-size: 12px;
  color: #353333;
  letter-spacing: 0.54px;
  z-index: 6;
  text-transform: uppercase;
}

h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 32px;
}

p {
  font-family: 'Noto Serif', sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  padding-left: 10px;
}

.selected {
  background-color: #FF7D08;
}

.navItem {
  width: 100px;
  height: 40px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.diamond {
  width: 19px;
  height: 19px;
  transform: rotate(-315deg);
  border: 0.25px solid #353333;
}

#header {
  background-color: #4AE1BA;
}

#about {
  background-color: #4AE1BA;
}

.circle {
  background-image: url('../Lines.png');
  background-attachment: fixed;
  background-size: 50%;
  border-radius: 50%;
  position: absolute;
  z-index: 5;
  width: 400px;
  height: 400px;
  opacity: 0.2;
  transition: all 2s;
}



.projectContainer {
  width: 80%;
  height: 600px;
  /* border: 3px solid blue; */
  overflow: auto;
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
}

.project {
  flex-basis: 15%;
  flex-shrink: 0;
  max-height: 600px;
  transition: all 3s;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  filter: grayscale(100%);
}

.projectDetails {
  visibility: hidden;
  background-color: white;
  width: 40%;
  height: 300px;
}

.project1Pic {
  background-image: url('codemon-Csmess-Front.png');
  background-size: cover;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
}

.gap {
  flex-basis: 1%;
  flex-shrink: 0;
  height: 600px;
  transition: all 3.5s;
}

.project1 {
  background-Image: url(./images/project1background.jpg);
}

.project1Logo {
  background-Image: url(./images/project1Logo.png);
  width: 150px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 40px;
}

.project2 {
  background-Image: url(./images/project2background.jpg);
}

.project2Logo {
  width: 150px;
  height: 100px;
  margin-top: 40px;
  font-family: 'Fjalla One', sans-serif;
  font-size: 40px;
  color:  #ECDFBD;
}


.project3 {
  background-Image: url(./images/project3background.png);
  background-color: #4298B5;
}

.project3Logo {
  width: 150px;
  height: 100px;
  margin-top: 40px;
  font-family: 'Lobster', sans-serif;
  font-size: 26px;
  color:  #ffcc5c;
}

.project4 {
  background-Image: url(./images/project4background.jpg);
}

.project4Logo {
  width: 150px;
  height: 100px;
  margin-top: 40px;
  font-family: 'Kaushan Script', sans-serif;
  font-size: 22px;
  color:  #FE709C;
}

.project5 {
  background-Image: url(./images/project5background.png);
}

.project5Logo {
  width: 150px;
  height: 100px;
  margin-top: 40px;
  font-family: 'Anton', sans-serif;
  font-size: 28px;
  color:  white;
}

.details {
  width: 50%;
  height: 400px;
  background-color: lightblue;
}

.sectionHeading {
  font-family: 'Fjalla One', sans-serif;
  font-size: 24px;
  color: #353333;
  letter-spacing: 0.63px;
  text-align: center;
  text-transform: uppercase;
}

.title {
  position: absolute;
}
