body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  scroll-snap-points-y: repeat(100%);
  -ms-scroll-snap-points-y: repeat(100%);
}

section {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 20px;
  scroll-snap-align: center;
}

#header {
  background-color: #5ab92c;
}

#about {
  background-color: #5ab92c;
}

.projectContainer {
  width: 80%;
  height: 600px;
  /* border: 3px solid blue; */
  overflow: auto;
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
}

.project {
  flex-basis: 15%;
  flex-shrink: 0;
  max-height: 600px;
  transition: all 3s;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  filter: grayscale(100%);
}

.projectDetails {
  visibility: hidden;
  background-color: white;
  width: 40%;
  height: 300px;
}

.project1Pic {
  background-image: url('codemon-Csmess-Front.png');
  background-size: cover;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
}

.gap {
  flex-basis: 1%;
  flex-shrink: 0;
  height: 600px;
  transition: all 3.5s;
}

.project1 {
  background-color: red;
}
.project2 {
  background-color: green;
}
.project3 {
  background-color: blue;
}
.project4 {
  background-color: purple;
}
.project5 {
  background-color: orange;
}

.details {
  width: 50%;
  height: 400px;
  background-color: lightblue;
}
