.technologies {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 60%;
}

.projectTechnologies {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.technology {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 25%;
}

.projectTechnology {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 30%;
  font-size: 14px;
}

.projectIcon {
  font-size: 30px;
  margin-bottom: 3px;
}

.aboutIcon {
  font-size: 40px;
  margin-bottom: 5px;
}

.contactIcon {
  font-size: 35px;
  color: $textColor;
  margin-right: 10px;
}

@media only screen and (max-width: 600px) {
  .projectTechnology {
    display: none
  }
  .aboutIcon {
    font-size: 30px;
    margin-bottom: 5px;
  }
  .technologies {
    width: 90%;
  }
  .technology {
    width: 10%;
    font-size: 10px;
  }
}
