canvas { position: absolute }

#header { background-color: $backgroundColor }

.title {
  z-index: 6;
  position: absolute;
}

@media only screen and (max-width: 600px), screen and (max-height: 400px) {
  canvas { display: none }
  #header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
