.projectContainer {
  width: 80%;
  height: 600px;
  /* border: 3px solid blue; */
  overflow: auto;
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
}

.project {
  flex-basis: 15%;
  flex-shrink: 0;
  max-height: 600px;
  transition: all 3s;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.projectDetails {
  background-color: white;
  width: 40%;
  height: 300px;
}

.project1Pic {
  background-image: url('codemon-Csmess-Front.png');
  background-size: cover;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
}

.gap {
  flex-basis: 1%;
  flex-shrink: 0;
  height: 600px;
  transition: all 3.5s;
}

.project1 {
  background-Image: url(./images/Background_Codemon.png);
}

.project1Logo {
  background-Image: url(./images/Logo_codemon.png);
  width: 150px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 40px;
}

.project2 {
  background-Image: url(./images/Background_nibble.png);
}

.project2Logo {
  background-Image: url(./images/Logo_Nibble.png);
  width: 150px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 40px;
}


.project3 {
  background-Image: url(./images/Background_neighbourgood.png);
}

.project3Logo {
  background-Image: url(./images/Logo_neighbourgood.png);
  width: 150px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 40px;
}

.project4 {
  background-Image: url(./images/Background_Love.png);
}

.project4Logo {
  background-Image: url(./images/Logo_Love.png);
  width: 150px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 40px;
}

.project5 {
  background-Image: url(./images/Background_nfl.png);
}

.project5Logo {
  background-Image: url(./images/Logo_NFL.png);
  width: 150px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 40px;
}
.projectDetails1 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  pointer-events: none;
}


.projectDetailsContainer1 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  height: 400px;
  pointer-events: none;
}
.projectDetailsContainer2 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  height: 400px;
}
.projectDetailsContainer3 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  height: 400px;
}
.projectDetailsContainer4 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  height: 400px;
}
.projectDetailsContainer5 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  height: 400px;
}

.projectText {
  color: white;
  pointer-events: none;
}

.projectScreenshot1 {
  background-image: url(./images/ScreenShotProject1.png);
  width: 40%;
  height: 400px;
  background-size: cover;
  border: 1px solid white;
}
.projectScreenshot2 {
  background-image: url(./images/ScreenShotProject2.png);
  width: 40%;
  height: 400px;
  background-size: cover;
  border: 1px solid white;
}
.projectScreenshot3 {
  background-image: url(./images/ScreenShotProject3.png);
  width: 40%;
  height: 400px;
  background-size: cover;
  border: 1px solid white;
}
.projectScreenshot4 {
  background-image: url(./images/ScreenShotProject4.png);
  width: 40%;
  height: 400px;
  background-size: cover;
  border: 1px solid white;
}
.projectScreenshot5 {
  background-image: url(./images/ScreenShotProject5.png);
  width: 40%;
  height: 400px;
  background-size: cover;
  border: 1px solid white;
}
.projectDetails2 {
  display: none;
}
.projectDetails3 {
  display: none;
}
.projectDetails4 {
  display: none;
}
.projectDetails5 {
  display: none;
}

.details {
  width: 50%;
  height: 400px;
  background-color: lightblue;
}
