#projects { background-color: $backgroundColor }

.projectContainer {
  width: 80%;
  min-height: 600px;
  overflow: auto;
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
}

.projectList {
  height: 80%;
  width: 80%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.projectOuterContainer {
  display: flex;
  flex-direction: column; 
  background-color: white;
  margin-top: 10px;
}

.project {
  display: grid;
  grid-template-columns: 1fr 40px 40px;
  align-items: center;
  background-size: cover;
  height: 100%;
}

.nflPicksBackground {
  background-image: url(./images/Background_nfl.png);
  background-position: 0 45%;
}

.dealOrNoDealBackground { 
  background-Image: url(./images/backgroundDealOrNoDeal.png);
  background-position: 0 45%;
}

.codemonBackground {
  background-image: url(./images/Background_Codemon.png);
  background-position: bottom;
}

.projectLogo {
  width: 60%;
  height: 60%;
  background-size: contain;
  background-repeat: no-repeat;
  &.project1Logo { background-Image: url(./images/Logo_codemon.png) }
  &.nflPicksLogo { background-Image: url(./images/Logo_NFL.png) }
}


.projectInfoContainer {
  height: 32%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.deviceContainer {
  display: flex;
  justify-content: space-around;
}
