$textColor: #353333;
$highlightColor: #FF7D08;
$backgroundColor: #4AE1BA;

$headerFont: 'Fjalla One', sans-serif;
$standardFont: 'Noto Serif', sans-serif;

$titleFontSize: 32px;
$contactFontSize: 25px;
$subTitleSize: 18px;
$standardFontSize: 16px;
$navFontSize: 14px;
$projectFontSize: 14px;

$titleFontSizeMobile: 20px;
$subTitleSizeMobile: 14px;
// $standardFontSize: 16px;
// $navFontSize: 14px;
// $projectFontSize: 14px;
